{% load static %}

<div class="media question-box">
    <div class="col-0">
        <img src={% static "pizza.jpg"%} class=" mr-3 question-img" alt="...">
        <div class="container font-weight-bolder" style="margin-left: 15px;">
            5
        </div>
        <div class="btn-group" role="group" aria-label="LikeDislike">
            <button type="button" class="btn btn-danger">-</button>
            <button type="button" class="btn btn-success">+</button>
        </div>
    </div>
    <div class="media-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam accusantium fuga, molestias temporibus culpa cum,
        earum, consequatur iste reprehenderit corporis numquam. Distinctio, commodi nisi dolores autem architecto
        debitis qui saepe. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum maiores mollitia autem ipsa
        vitae suscipit. Soluta, placeat, perferendis delectus, ipsa ducimus officia voluptatum illum doloremque
        repellendus tempore quam non aspernatur.lorem
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Correct!
            </label>
        </div>
    </div>
</div>